.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: all .5s ease-in-out;
}