.element__like {
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    outline-style: none;
}

.element__like:hover {
    cursor: pointer;
    opacity: .5;
}