.profile__edit-button {
    margin-left: 18px;
    padding: 0;
    min-width: 24px;
    height: 24px;
    border: 1px solid white;
    background-image: url(../../../images/edit.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .profile__edit-button {
        margin-left: 15px;
        width: 18px;
        height: 18px;
    }
}