.profile__edit-button {
    margin: 0 0 0 18px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-image: url(../../../images/edit.svg);
    background-color: black;
}