.profile__edit-button {
    margin-left: 18px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-image: url(../../../images/edit.svg);
    background-color: black;
    background-repeat: no-repeat;
    border: none;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .profile__edit-button {
        margin-left: 15px;
        background-size: 18px 18px;
    }
}