.element__delete {
    position: absolute;
    background-color: transparent;
    background-image: url(../../../images/delete.svg);
    border: none;
    outline-style: none;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19.3px;
}

.element__delete:hover {
    opacity: .6;
    cursor: pointer;
}