    .popup__content {
        box-sizing: border-box;
        position: absolute;
        top: 195px;
        min-height: 330px;
        min-width: 430px;
        background-color: white;
        left: 50%;
        color: black;
        transform: translateX(-50%);
        border-radius: 10px;
        /* padding: 34px 36px 37px;*/
    }
    
    @media screen and (max-width: 600px) {
        .popup__content {
            top: 123px;
            min-width: 282px;
        }
    }