.popup__viewer-content {
    box-sizing: border-box;
    position: absolute;
    top: 90px;
    background-color: transparent;
    left: 50%;
    color: black;
    transform: translateX(-50%);
    border-radius: 10px;
    /* padding: 34px 36px 37px;*/
}

@media screen and (max-width: 600px) {
    .popup__viewer-content {
        top: 123px;
        min-width: 282px;
    }
}