    .header {
        padding-bottom: 41px;
        border-bottom: 1px solid rgba(84, 84, 84, .7);
        ;
    }
    
    @media screen and (max-width: 600px) {
        .header {
            padding-bottom: 31.6px;
        }
    }