    .profile__add-button {
        width: 150px;
        height: 50px;
        margin: 0;
        padding: 0;
        justify-self: flex-end;
        background-color: transparent;
        background-image: url(../../../images/add.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid white;
        border-radius: 2px;
    }
    
    .profile__add-button:hover {
        opacity: .6;
        cursor: pointer;
    }
    
    @media screen and (max-width: 900px) {
        .profile__add-button {
            width: 282px;
            margin-bottom: 36px;
            background-size: 16px 16px;
        }
    }