    .element__photo {
        max-height: 282px;
        width: 100%;
        /* width: 282px;*/
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
        overflow: hidden;
    }