@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/* page */

@import url(../blocks/page/page.css);
@import url(../blocks/page/__content/page__content.css);

/*logo*/

@import url(../blocks/logo/logo.css);

/* header */

@import url(../blocks/header/header.css);

/* profile */

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__picture/profile__picture.css);

/*popup*/

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/_visible/popup_visible.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__save/popup__save_inactive.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__field/popup__field_error.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__large-image/popup__large-image.css);
@import url(../blocks/popup/__image-title/popup__image-title.css);
@import url(../blocks/popup/_viewer/popup_viewer.css);
@import url(../blocks/popup/__viewer-content/popup__viewer-content.css);

/*elements*/

@import url(../blocks/elements/elements.css);

/*element */

@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo-title/element__photo-title.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__legend/element__legend.css);
@import url(../blocks/element/__like/element__like_selected.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__likes/element__likes.css);
@import url(../blocks/element/__like-number/element__like-number.css);

/* footer */

@import url(../blocks/footer/footer.css);