.profile__avatar {
    position: relative;
    margin: 36.25px 22.5px 26.25px 3.75px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index: 1;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
    grid-area: avatar;
}

.profile__avatar:hover {
    opacity: 0.3;
}