.footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    padding: 0;
    margin: 0;
    margin-top: 67px;
    color: #545454;
}

@media screen and (max-width: 600px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
    }
}