.popup__field {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 5px 6px 13px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
    background-color: transparent;
}